@model IList<Sale>

@inject IDiscountManager _discountManager

@{
    ViewData["Title"] = "Упраление акциями";
    ViewData.AddActivePage(ManageNavPages.ManageActions);
}

<p class="text-muted">@ViewData["Title"]</p>

@Html.Partial("~/Views/Discount/_ActionsList.cshtml", @Model)
<hr />

@Html.Partial("_AddNewSale", new AddNewSaleViewModel{ AllTags = _discountManager.GetAllTags(), SelectedTags = new List<string>() })
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}