@using Microsoft.Extensions.FileProviders
@model string[]

@{
    ViewData["Title"] = "Упраление изображениями";
    ViewData.AddActivePage(ManageNavPages.ManageImages);
}

<p class="text-muted">@ViewData["Title"]</p>

<p>Список существующих изображений:</p>
<div class="row" id="imagesPanel">
    @{
        var i = 0;
    }
    @foreach (string item in Model)
    {
        var textAreaId = "imageSrc" + @i;
        <div class="col-3">
            <picture>
                <source srcset='@item'>
                <img src='@item' alt="Flowers" style="max-width: 100%; height: 160px;">
            </picture>
            <textarea rows="4" readonly id=@textAreaId>@item</textarea>
            <p><button v-on:click = 'copyToClipboard("@textAreaId")' type="button" class="btn btn-secondary">Копировать ссылку</button></p>
        </div>
        i++;
    }
</div>

<hr />
<div class="row">
    <div class="col-12">
        <form method="post" enctype="multipart/form-data" asp-controller="Settings" asp-action="PostImage">
        <div class="form-group">
            <div class="col-md-10">
                <p>Загрузить новый файл</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>
        </form>
    </div>
</div>