@model AddNewMessageViewModel

<div class="row">
    <div class="col-12 col-md-6">
        <form method="post" asp-controller="Messages" asp-action="PostMessage">
            <div class="form-group">
                <label asp-for="MessageText" class="pull-right"></label>
                <textarea asp-for="MessageText" class="form-control" rows="5"></textarea>
                <span asp-validation-for="MessageText" class="text-danger"></span>

                <input name="AuthorId" type="hidden" value="@Model.AuthorId" />
                <input name="ChatOwnerId" type="hidden" value="@Model.ChatOwnerId" />
            </div>
            <button type="submit" class="btn btn-default pull-right">Отправить</button>
        </form>
    </div>
</div>